.home-container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.compared-cars {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  box-shadow:0 0 10px 1px #CCC;

  &__btn-remove {
    line-height: 19px;
  }
}
