<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container-fluid">
    <h1 class="display-2 font-weight-bold">Dream Car</h1>
    <p class="lead">
      The most amazing place to find the car of your dreams.
    </p>
  </div>
</div>
<div class="home-container container-fluid ">
  <div class="row justify-content-center">
    <form class="col-12 mt-2 mb-5 form-inline align-items-end" (submit)="onSubmit($event)">
      <div class="form-group mr-3 mb-0">
        <label class="mr-2" for="term">Filter by brand: </label>
        <input id="term" name="term" class="form-control" type="text" placeholder="type brand... Ex: Pontiac" [(ngModel)]="term">
      </div>
      <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2" *ngFor="let car of cars | async">
      <app-car-box [car]="car"></app-car-box>
    </div>
  </div>
</div>
